In [177]:
import numpy as np
import pandas as pd
import random
df_cr=pd.read_csv("C:/Users/igara/Ironhack Bootcamp/Bootcamp ironhack week2/Project_Iron_W2/Data/extract - cash request - data analyst.csv")
df_ef=pd.read_csv("C:/Users/igara/Ironhack Bootcamp/Bootcamp ironhack week2/Project_Iron_W2/Data/extract - fees - data analyst - .csv")

In [178]:
df_cr["user_id"].isna().sum()
n_rows=df_cr.shape[0]

In [179]:
n_rows

23970

In [183]:
no_cash_advance=round((df_cr["user_id"].isnull().sum()) / n_rows*100 , 2)

In [185]:
frequency_of_cash_advance=100-no_cash_advance

In [187]:
frequency_of_cash_advance

91.23

In [189]:
df_cr.dtypes

id                              int64
amount                        float64
status                         object
created_at                     object
updated_at                     object
user_id                       float64
moderated_at                   object
deleted_account_id            float64
reimbursement_date             object
cash_request_received_date     object
money_back_date                object
transfer_type                  object
send_at                        object
recovery_status                object
reco_creation                  object
reco_last_update               object
dtype: object

In [191]:
df_cr["created_at"]=pd.to_datetime(df_cr["created_at"])
df_cr["updated_at"]=pd.to_datetime(df_cr["updated_at"])
df_cr = df_cr.sort_values(by=["created_at", "updated_at"], ascending=True)

In [192]:
df_cr.dtypes

id                                          int64
amount                                    float64
status                                     object
created_at                    datetime64[ns, UTC]
updated_at                    datetime64[ns, UTC]
user_id                                   float64
moderated_at                               object
deleted_account_id                        float64
reimbursement_date                         object
cash_request_received_date                 object
money_back_date                            object
transfer_type                              object
send_at                                    object
recovery_status                            object
reco_creation                              object
reco_last_update                           object
dtype: object

In [193]:

df_cr["year_month"] = df_cr["created_at"].dt.to_period("M")
df_cr["year_month_updated"] = df_cr["updated_at"].dt.to_period("M")

C:\Users\igara\AppData\Local\Temp\ipykernel_26712\3503061213.py:1: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  df_cr["year_month"] = df_cr["created_at"].dt.to_period("M")
C:\Users\igara\AppData\Local\Temp\ipykernel_26712\3503061213.py:2: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  df_cr["year_month_updated"] = df_cr["updated_at"].dt.to_period("M")

In [197]:
df_cr.columns

Index(['id', 'amount', 'status', 'created_at', 'updated_at', 'user_id',
       'moderated_at', 'deleted_account_id', 'reimbursement_date',
       'cash_request_received_date', 'money_back_date', 'transfer_type',
       'send_at', 'recovery_status', 'reco_creation', 'reco_last_update',
       'year_month', 'year_month_updated'],
      dtype='object')

In [199]:
#users=df_cr[df_cr["user_id"].notnull()].groupby("user_id")["year_month"].nunique()
users = df_cr[df_cr["user_id"].notnull()]
users=users["year_month"]
users_update = df_cr[df_cr["user_id"].notnull()]
users_update=users_update["year_month_updated"]

In [201]:
frequency = df_cr["year_month"].value_counts()
proportion=df_cr["year_month"].value_counts(normalize=True).round(2) #normalize=true es lo que devuelve la proporcion de cada dato
frequency_upd = users_update.value_counts()
proportion_upd=users_update.value_counts(normalize=True).round(2) 
frequency_users = users.value_counts()
proportion_users=users.value_counts(normalize=True).round(2)

In [203]:
tabla_for_everyone=pd.concat([frequency, proportion], axis=1)
tabla_for_everyone.columns = ["absolute_frequency_upd", "relative_frequency_upd"]

tabla_for_everyone.columns = ["absolute_frequency", "relative_frequency"]
tabla_for_everyone

            absolute_frequency  relative_frequency
year_month
2020-10                   7725                0.32
2020-09                   4221                0.18
2020-07                   3601                0.15
2020-08                   3417                0.14
2020-06                   2615                0.11
2020-05                    837                0.03
2020-04                    473                0.02
2019-12                    289                0.01
2020-03                    244                0.01
2020-01                    223                0.01
2020-02                    184                0.01
2020-11                    140                0.01
2019-11                      1                0.00

In [205]:
tabla_upd=pd.concat([frequency_upd, proportion_upd], axis=1)
tabla_upd.columns = ["absolute_frequency_user_upd", "relative_frequency_user_upd"]
total_absolute_upd = int(frequency_upd.sum())
total_relative_upd = float(proportion_upd.sum())

In [207]:
df_tabla = pd.concat([frequency_users, proportion_users], axis=1)
df_tabla.columns = ["absolute_frequency_user", "relative_frequency_user"]
total_absolute_user = int(frequency_users.sum())
total_relative_user = float(proportion_users.sum())

In [209]:
total_row_2 = pd.DataFrame({
    "absolute_frequency_user_upd": [total_absolute_upd],
    "relative_frequency_user_upd": [total_relative_upd],
    "absolute_frequency_user": [total_absolute_user],
    "relative_frequency_user": [total_relative_user]

    
}, index=['Total'])

In [211]:
tabla_upd.index = tabla_upd.index.to_timestamp()#Convierte el índice a un tipo Timestamp y luego asegura que el índice sea un DatetimeIndex.
tabla_upd.index = pd.to_datetime(tabla_upd.index)
tabla_upd = tabla_upd.sort_index(ascending=False)
df_tabla.index = df_tabla.index.to_timestamp()
df_tabla.index = pd.to_datetime(df_tabla.index)
df_tabla = df_tabla.sort_index(ascending=False)

In [213]:
"""
df_tabla_2 = pd.concat([tabla_upd,df_tabla],axis=1)
df_tabla_2=pd.concat([df_tabla_2,total_row_2])

df_tabla_2 = df_tabla_2.sort_index(ascending=False)

df_tabla_2
"""

'\ndf_tabla_2 = pd.concat([tabla_upd,df_tabla],axis=1)\ndf_tabla_2=pd.concat([df_tabla_2,total_row_2])\n\ndf_tabla_2 = df_tabla_2.sort_index(ascending=False)\n\ndf_tabla_2\n'

In [215]:
tabla_upd

                    absolute_frequency_user_upd  relative_frequency_user_upd
year_month_updated
2021-02-01                                  138                         0.01
2021-01-01                                  371                         0.02
2020-12-01                                14359                         0.66
2020-11-01                                 1028                         0.05
2020-10-01                                  556                         0.03
2020-09-01                                 1149                         0.05
2020-08-01                                 1218                         0.06
2020-07-01                                 1340                         0.06
2020-06-01                                 1097                         0.05
2020-05-01                                  205                         0.01
2020-04-01                                  129                         0.01
2020-03-01                                   63                         0.00
2020-02-01                                   53                         0.00
2020-01-01                                   83                         0.00
2019-12-01                                   78                         0.00

In [217]:
df_tabla

            absolute_frequency_user  relative_frequency_user
year_month
2020-11-01                      137                     0.01
2020-10-01                     7512                     0.34
2020-09-01                     3802                     0.17
2020-08-01                     3090                     0.14
2020-07-01                     3159                     0.14
2020-06-01                     2251                     0.10
2020-05-01                      727                     0.03
2020-04-01                      418                     0.02
2020-03-01                      207                     0.01
2020-02-01                      157                     0.01
2020-01-01                      176                     0.01
2019-12-01                      230                     0.01
2019-11-01                        1                     0.00

In [219]:
"""
Incident Rate: Determine the incident rate, specifically focusing on payment incidents, for each cohort.
Identify if there are variations in incident rates among different cohorts.
"""

'\nIncident Rate: Determine the incident rate, specifically focusing on payment incidents, for each cohort.\nIdentify if there are variations in incident rates among different cohorts.\n'

In [221]:
payment_incident=df_cr[df_cr["recovery_status"].notnull()]
payment_incident=payment_incident["year_month"]

In [223]:
payment_incident

10030    2019-12
7824     2019-12
4118     2019-12
7880     2019-12
8941     2019-12
          ...
23491    2020-11
10893    2020-11
20784    2020-11
9131     2020-11
10349    2020-11
Name: year_month, Length: 3330, dtype: period[M]

In [225]:
frequency_of_incidents = payment_incident.value_counts()
proportion_of_incidents=payment_incident.value_counts(normalize=True).round(2)

In [227]:
df_tabla_incident = pd.concat([frequency_of_incidents, proportion_of_incidents], axis=1)
df_tabla_incident.columns = ["absolute_frequency_incidents", "relative_frequency_incidents"]
total_absolute_incident = int(frequency_of_incidents.sum())
total_relative_incident = float(proportion_of_incidents.sum())
total_row_incident = pd.DataFrame({
    "absolute_frequency_incidents": [total_absolute_incident],
    "relative_frequency_incidents": [total_relative_incident]
}, index=['Total'])

In [239]:
df_tabla_incident.index = df_tabla_incident.index.to_timestamp()
df_tabla_incident.index = pd.to_datetime(df_tabla_incident.index)
df_tabla_incident = df_tabla_incident.sort_index(ascending=False)

In [241]:
df_tabla_incident_2 = pd.concat([df_tabla_incident,total_row_incident])
df_tabla_incident_2

,absolute_frequency_incidents,relative_frequency_incidents
2020-11-01 00:00:00,28,0.01
2020-10-01 00:00:00,1260,0.38
2020-09-01 00:00:00,579,0.17
2020-08-01 00:00:00,438,0.13
2020-07-01 00:00:00,402,0.12
2020-06-01 00:00:00,329,0.10
2020-05-01 00:00:00,129,0.04
2020-04-01 00:00:00,59,0.02
2020-03-01 00:00:00,18,0.01
2020-02-01 00:00:00,16,0.00
2020-01-01 00:00:00,33,0.01
2019-12-01 00:00:00,39,0.01
Total,3330,1.00

"""
Revenue Generated by the Cohort: Calculate the total revenue generated by each
cohort over months to assess the financial impact of user behavior.
"""

In [243]:

df_ef["created_at"]=pd.to_datetime(df_cr["created_at"])
df_ef["year_month"]=df_ef["created_at"].dt.to_period("M")

C:\Users\igara\AppData\Local\Temp\ipykernel_26712\2422526209.py:2: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  df_ef["year_month"]=df_ef["created_at"].dt.to_period("M")

In [247]:
revenue_table = df_ef.groupby("year_month")["total_amount"].sum().reset_index()

revenue_table.columns = ["date","total_revenue"]


revenue_table = revenue_table.sort_index(ascending=False)

In [249]:
revenue_table

       date  total_revenue
12  2020-11          450.0
11  2020-10        27625.0
10  2020-09        19020.0
9   2020-08        16240.0
8   2020-07        17810.0
7   2020-06        12910.0
6   2020-05         4185.0
5   2020-04         2365.0
4   2020-03         1220.0
3   2020-02          920.0
2   2020-01         1115.0
1   2019-12         1445.0
0   2019-11            5.0

In [253]:
"""
New Relevant Metric: Propose and calculate a new relevant metric that provides additional 
insights into user behavior or the performance of IronHack Payments' services."""

"\nNew Relevant Metric: Propose and calculate a new relevant metric that provides additional \ninsights into user behavior or the performance of IronHack Payments' services."

In [255]:
df_cr.columns

Index(['id', 'amount', 'status', 'created_at', 'updated_at', 'user_id',
       'moderated_at', 'deleted_account_id', 'reimbursement_date',
       'cash_request_received_date', 'money_back_date', 'transfer_type',
       'send_at', 'recovery_status', 'reco_creation', 'reco_last_update',
       'year_month', 'year_month_updated'],
      dtype='object')

In [257]:
retention=df_cr[df_cr["deleted_account_id"].notnull()]
retention=retention["year_month"]

In [259]:
frequency_retention = retention.value_counts()
proportion_retention=retention.value_counts(normalize=True).round(2)

In [261]:
df_tabla_retention=pd.concat([frequency_retention,proportion_retention],axis=1)
df_tabla_retention.columns=["absoulte_frequency_retention","relative_frequency_retention"]
total_absolute_retention=int(frequency_retention.sum())
total_relative_retention=float(proportion_retention.sum())
total_row_retention = pd.DataFrame({
    "absoulte_frequency_retention": [total_absolute_retention],
    "relative_frequency_retention": [total_relative_retention]
}, index=['Total'])

df_tabla_retention.index = df_tabla_retention.index.to_timestamp()
df_tabla_retention.index = pd.to_datetime(df_tabla_retention.index)
df_tabla_retention = df_tabla_retention.sort_index(ascending=False)

df_tabla_retention=pd.concat([df_tabla_retention,total_row_retention])
df_tabla_retention

,absoulte_frequency_retention,relative_frequency_retention
2020-11-01 00:00:00,3,0.00
2020-10-01 00:00:00,213,0.10
2020-09-01 00:00:00,419,0.20
2020-08-01 00:00:00,327,0.16
2020-07-01 00:00:00,442,0.21
2020-06-01 00:00:00,364,0.17
2020-05-01 00:00:00,110,0.05
2020-04-01 00:00:00,55,0.03
2020-03-01 00:00:00,37,0.02
2020-02-01 00:00:00,27,0.01
2020-01-01 00:00:00,47,0.02
2019-12-01 00:00:00,60,0.03
Total,2104,1.00

In [263]:
retention=df_cr[df_cr["deleted_account_id"].notnull()]
retention=retention["year_month_updated"]

In [265]:
frequency_retention_updated = retention.value_counts()
proportion_retention_updated=retention.value_counts(normalize=True).round(2)

In [267]:
df_tabla_retention_upda=pd.concat([frequency_retention_updated,proportion_retention_updated],axis=1)
df_tabla_retention_upda.columns=["absoulte_frequency_retention_upd","relative_frequency_retention_upd"]

total_absolute_retention_upd=int(frequency_retention_updated.sum())
total_relative_retention_upd=float(proportion_retention_updated.sum())

total_row_retention_upd = pd.DataFrame({
    "absoulte_frequency_retention_upd": [total_absolute_retention_upd],
    "relative_frequency_retention_upd": [total_relative_retention_upd]
}, index=['Total'])

df_tabla_retention_upda.index = df_tabla_retention_upda.index.to_timestamp()
df_tabla_retention_upda.index = pd.to_datetime(df_tabla_retention_upda.index)
df_tabla_retention_upda = df_tabla_retention_upda.sort_index(ascending=False)

df_tabla_retention_upd=pd.concat([df_tabla_retention_upda,total_row_retention_upd])
df_tabla_retention_upd
df_retention_final=pd.concat([df_tabla_retention_upd,df_tabla_retention])

In [269]:
df_tabla_retention_upda

,absoulte_frequency_retention_upd,relative_frequency_retention_upd
year_month_updated,,
2021-01-01,2,0.00
2020-12-01,576,0.27
2020-11-01,97,0.05
2020-10-01,79,0.04
2020-09-01,334,0.16
2020-08-01,249,0.12
2020-07-01,319,0.15
2020-06-01,245,0.12
2020-05-01,68,0.03
2020-04-01,48,0.02
2020-03-01,33,0.02
2020-02-01,25,0.01
2020-01-01,13,0.01
2019-12-01,16,0.01

In [271]:
df_tabla_retention_upda

,absoulte_frequency_retention_upd,relative_frequency_retention_upd
year_month_updated,,
2021-01-01,2,0.00
2020-12-01,576,0.27
2020-11-01,97,0.05
2020-10-01,79,0.04
2020-09-01,334,0.16
2020-08-01,249,0.12
2020-07-01,319,0.15
2020-06-01,245,0.12
2020-05-01,68,0.03
2020-04-01,48,0.02
2020-03-01,33,0.02
2020-02-01,25,0.01
2020-01-01,13,0.01
2019-12-01,16,0.01